<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2zMDXGJptKb5zV99u4n2XD7m8Zqt78Vk</string>
	<key>GCM_SENDER_ID</key>
	<string>493902487548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackingApp</string>
	<key>PROJECT_ID</key>
	<string>tracking-app-4f63b</string>
	<key>STORAGE_BUCKET</key>
	<string>tracking-app-4f63b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493902487548:ios:a0d738922afbd9ada35c79</string>
</dict>
</plist>