<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_Ntnqxr_UcLs9UCB9DgPjEul_zAt_1kg</string>
	<key>GCM_SENDER_ID</key>
	<string>679937544462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.healthyhustle</string>
	<key>PROJECT_ID</key>
	<string>mindful-me-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mindful-me-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679937544462:ios:fcca3726b934a55b0fc75f</string>
</dict>
</plist>